<div class="contents row">
  <div class="js-message-errors"></div>
  <div class="container">
    <%= form_with model: @post do |form|%>
      <h3>
        投稿する
      </h3>
      <%= form.text_field :image, placeholder: :'Image url' %>
      <%= form.text_area :text, placeholder: :text, size: "30x10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
  <%= link_to "Back", posts_path %>
</div>